.fundo-contatos{
        position: absolute;
        background-color: rgb(0, 0, 0);
        z-index: -1;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;

}

.fundo-contatos .video-contatos{
        height: 250vh;
}

.fundo-contatos::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 250vh;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.85) 100%);
}

main{   
        width: 940px;
        margin: 0 auto;
}

form{   
        margin: 40px 0;
}

form label, form legend{
        display: block;
        font-weight: 500;
        font-size: 1.3em;
        margin: 1.4em 0 1.4em ;
}

.input-padrao, .enviar, .seletor{       
        display: block;
        width: 50%;
        padding: 30px 30px;
        margin-top: 20px;
        margin-bottom: 20px;

}

.input-padrao, .seletor{
        background: rgba(29, 29, 29, 0.5);
        box-shadow: 0 8px 32px 0 rgba(135, 104, 31, 0.37);
        backdrop-filter: blur( 2.5px );
        -webkit-backdrop-filter: blur( 2.5px );
        border-radius: 10px;
        border: 1px solid rgba(255, 166, 0, 0.18);
        color: white;
        font-size: 1em;

}

.seletor{       
        font-size: 18px;
        text-align: center;
        font-weight: bold;
}

.checkbox{
        margin: 20px 0;
}

.enviar{        
        font-size: 19px;
        font-weight: 500;
        background-color: orange;
        color: white;
        transition: 0.5s all ease-in-out;
        border-radius: 50px;
        cursor: pointer;

}

.enviar:hover{  
        background-color: rgb(21, 255, 0);    
        color: rgb(255, 255, 255);
        transform: scale(1.1);
}

table{
        width: 50%;
        margin-bottom: 40px;
        margin-top: 20px;
}

thead{
        background-color: orange;
        font-weight: bold;
        color: white;
}

tbody{
        background-color: rgb(250, 178, 46);
}

th, td{
        border: 1px solid rgb(125, 82, 0);
        padding: 15px;
        text-align: center;
        
}

@media screen and (max-width: 480px){

        body{
                overflow-x: hidden ;
        }
        .fundo-contatos, .fundo-contatos::after, .video-contatos{
                display: none;
                width: 10px;
        }

        main{
                width: auto;
        }

        form{
                margin: 10%;
        }

        .input-padrao, .enviar, .seletor{
                width: 80%;
                text-align: center;
                margin:  20px auto;
        }

        table{
                width: 100%;
        }

        form label, form legend{
                font-size: 1.2em;
        }
}