
body{
        font-family: 'Poppins';
        overflow-x: hidden;
        background-color: #000000;
        color: #ffffff;
}

.fundo{
        position: absolute;
        background-color: rgb(0, 0, 0);
        z-index: -1;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;


}
.fundo::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 135vh;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.85) 100%);
}

.fundo .video{
        height: 135vh;
}


header {
        padding: 20px;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 32px 0 rgba(135, 104, 31, 0.37);
        backdrop-filter: blur( 2.5px );
        -webkit-backdrop-filter: blur( 2.5px );
        border-radius: 10px;
        border: 1px solid rgba(255, 166, 0, 0.18);
}

.logo-cima{ 
        height: auto;
        width: 90px;
        cursor: pointer;
}

.caixa { 
        position: relative;
        width: 940px;
        margin: 0 auto; 
}

nav    { 
        position: absolute;
        top: 60px;
        right: 0;
}
 

nav li { 
        display: inline;
        margin: 0 0 0 10px;
}
         
     
nav a  { 
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold; 
        font-size: 1em;
        text-decoration: none; 
        border-radius: 50px;
        padding: 15px;
        transition: 0.2s all ease-in-out;
 }

nav a:hover { 
        text-decoration: none;
        background-color: orange;
        transform: scale(1.1);
}  

nav a:active { 
        color: darkorange;
        text-decoration: underline;
}


.produtos {  
        max-width: 1440px;
        margin: 0 auto;
        vertical-align: top;
        padding: 100px 30px;   
        transition: 0.5 all ease-in-out; 
        color: white;
}

.produtos li { 
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 25%;     
        margin: 0 4%;
        padding: 30px 20px;
        box-sizing: border-box;
        transition: 0.5s all ease-in-out;
        background: rgba(0, 0, 0, 0.01);
        box-shadow: 0 8px 32px 0 rgba(135, 104, 31, 0.37);
        backdrop-filter: blur( 6.5px );
         -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 15px;
        border: 0.5px solid rgba(255, 166, 0, 0.18);  
        cursor: pointer;
}

.produtos li:hover { 
        border-color: rgb(248, 193, 42) ;
        transform: scale(1.1);
}

.produtos li:active {
        border-color: chartreuse;
}
               
.produtos h2 { 
        font-size: 2em;
        font-weight: bold;
}

.produto-descricao { 
        font-size: 1.1em;
}

.produto-preco { 
        font-size: 1.7em;
        font-weight: bold;
        margin-top: 10px;
}

footer {
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 32px 0 rgba(135, 104, 31, 0.37);
        backdrop-filter: blur( 2.5px );
        -webkit-backdrop-filter: blur( 2.5px );
        border: 1px solid rgba(255, 166, 0, 0.18);
        text-align: center;
        padding: 20px 0 39px;
        
}       

.logo-footer{
        width: 65px;
}

.copy { 
        color: white;
        font-size: 12px;
        margin-top: 20px;
}

@media screen and (max-width: 480px) {

        body{
                overflow-x: hidden ;
        }
        .fundo, .fundo::after, .video{
                display: none;
                width: 10px;
        }

        .caixa{
                width: auto;
        }

        h1{
                text-align: center;
        }

        .logo-cima{
                width: 25%;
        
        }

        nav{
                position: static;
        }

        .produtos{
                max-width: auto;
        }

        .produtos li {
                display: block;
                margin-bottom: 3em;
                width: auto;

        }
}