.fundo-index{
        position: absolute;
        background-color: rgb(0, 0, 0);
        z-index: -1;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;


}
.fundo-index::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 210vh;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.85) 100%);
}

.fundo-index .video-index{
        height: 210vh;
}

.conteudo-principal{
        max-width: 85vw;
        margin: 0 auto;
}

.principal{ 
        padding:25px; 
}


.titulo-principal{ 
        text-align: center;
        font-size: 2em;
        margin: 0.8em 0 1em;
        text-shadow: 1px 1px 1.5px rgb(255, 255, 255);
        clear: left;
}


.utencilios{
        width: 150px;
        float: left;
        margin: 0 20px 20px 0;
}
        

.principal p{
        margin: 0 0 1em;
        font-size: 1em;
        
}

.principal strong{
        font-weight: bold;
        color: orange;
}

.principal em{
        font-style: italic;
}

.mapa iframe{
        opacity: 60%;
        box-shadow: 0 8px 32px 0 rgba(255, 179, 0, 0.429);
        border-radius: 10px;
        border: 2px solid rgba(255, 166, 0, 0.18);
        transition: 0.4s;
        
}

.mapa iframe:hover{
        opacity: 100%;
}


.mapa p{
        text-align: center;
        margin: 0 0 30px;
}

.beneficios{
        padding: 3em;
}

.conteudo-beneficios{
        max-width: 70vw;
        margin: 0 auto;
}

.lista-beneficios{
        width: 40%;
        display: inline-block;
        vertical-align: top;

}

.itens {
        line-height: 1.5;
}

.itens::before{
        content: "\1F31F";
}

.itens:first-child{
        font-weight: bold;
        color: orange;
}


.imagem-beneficios{  
        width: 50%;
        box-shadow: 10px 10px 32px 5px rgba(135, 104, 31, 0.37);
}

.youtube-video{
        width: 660px;
        margin: 4em auto;
        box-shadow: 5px 5px 32px 2.5px rgba(135, 104, 31, 0.37);

}

@media screen and (max-width: 480px) {

        body{
                overflow-x: hidden ;
        }
        .fundo-index, .fundo-index::after, .video-index{
                display: none;
                width: 10px;
        }

        h1{
                text-align: center;
        }

        .caixa, .mapa{
                width: auto;
        }

        .lista-beneficios, .imagem-beneficios{
                width: 100%;
                text-align: center;
        }

        .imagem-beneficios{
                margin-top: 1em;
        }

        .mapa iframe{
                opacity: 100%;
        }

        .utencilios{
                width: 35%;
        }

        .youtube-video{
                width: auto;
        }
       
}